html, body { height:100%; }

body {
	font-family: 'Trebuchet MS', Arial, sans-serif;
}

#sched-settings {
	width:390px;
	height:100%;
	float:left;
	margin-left:10px;
}

#sched-view {
	margin-left:410px;
	margin-right:10px;
	height:100%;
	font-size:0.8em;
}

#sched-view table {
	width:100%;
}

#sched-view th {
	font-weight:bold;
	vertical-align: middle;
	text-align: center;
	height:40px;
}

.sched-column {
	width: 18%;
	height: 100%;
	position:relative;
}

.sched-col-time {
	text-align: right;
	width: 9%;
}

.sched-cell {
	width:100%;
	position:relative;
	border-bottom:1px solid #c0c0c0;
	border-right:1px solid #c0c0c0;
	padding:5px 0;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.sched-col-time .sched-cell {
	padding:5px;
}

.sched-cell:after {
	width: 100%;
	height: 0;
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	border-top: 1px dotted #c0c0c0;
}

.sched-cell-header:after {
	display:none;
}

.sched-col-time .sched-cell { border-left:1px solid #c0c0c0; }
.sched-cell:first-of-type { border-top: 1px solid #c0c0c0; }

.sched-cell-header {
	text-align:center;
	font-weight:bold;
}


.sched-block {
	position: absolute;
	background: rgba(0,0,255,0.6);
	border: 1px solid rgba(0,0,255,1);
	width: 95%;
	padding:2px 2%;
	line-height:1.2em;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.sched-block span {
	display:block;
}

.block-time { font-size:0.9em; }
.block-title { font-weight:bold; }


.normform label {
	display:block;
	float:left;
	width:100px;
	text-align:right;
	margin-bottom:10px;
	clear:left;
	padding:7px;
}

.normform input {
	display:block;
	float:left;
	width:250px;
	padding:7px;
	margin-bottom:10px;
}

/******************
Main Schedule
Empty Block
******************/

.sched-empty-block {
	border: 10px dashed rgba(0,0,255,0.5);
	background: rgba(0,0,255,0.1);
	display: block;
	opacity: 0;
	cursor: pointer;
}

.sched-empty-block-collapsed {
	display:none;
}

span.empty-block-title {
	display:table;
	width:100%;
	height:100%;
}

.empty-block-title span {
	text-align:center;
	vertical-align:middle;
	display:table-cell;
	font-size:1.5em;
}

.empty-double-1 { width:45%; }
.empty-double-2 { width:45%; left:50%; }



/******************
Left Column 
Add Form
******************/

#add-block-button {
	display:block;
	background: green;
	color:white;
	line-height:50px;
	text-decoration: none;
	text-align:center;
	font-size:1.1em;
}

#overlay-select {
	margin: 7px 0;
}

.overlay-select-button {
	width: 23%;
	background: green;
	color: white;
	line-height: 30px;
	cursor: pointer;
	display: inline-block;
	margin: 0 1%;
	text-align: center;
}

/******************
Left Column
List of Added Blocks
******************/

#block-list {
	list-style-type: none;
	padding:0;
}

.block-list-item {
	display: block;
	margin:5px 10px;
	background:blue;
	padding:10px;
	color:black;
}

.block-list-item span {
	display:block;
	padding-left:26px;
}

span.block-list-title {
	font-size:1.2em;
	padding-left:0;
}
